<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d [%thread] [%X{ip}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- 应用日志文件 -->
    <appender name="applicationFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            logs/fmt.log
        </file>
        <!--日志文件保留天数-->
        <!--<MaxHistory>30</MaxHistory>-->
        <!-- 每天生成一个日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                logs/fmt.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d [%thread] [%X{ip}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>-->
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="applicationFile"/>
    </root>
</configuration>
